*{
    box-sizing: border-box;
}

body {
    background-color: cadetblue;

}

#gamescreen {

    display: grid;
    margin: 0;
    padding: 0;
    max-height: 900px;
    max-width: 900px;

    background-color: chartreuse;

}

.game-rows {

    display: flex;
    flex-direction: row;
  
}

.game-moves {
    display: flex;
    height: 100px;
    width: 100px;
    background-color: red;
    padding: 10px;
    margin: 10px;
}