@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Ruda:wght@400;600;800&display=swap');


*{
    box-sizing: border-box;
    
}
:root {
    --cell-size: 100px;
    font-family: 'Roboto',sans-serif;
    
}

html {
   
    background-color: cadetblue;
    width: 100vw;
    height: 100vh;


}
body{
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;


}



header{
    color: brown;
}
.message-screen {
    height: fit-content;
}

.game-board {

   
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto)

}
.moves {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .moves.x::before,
.moves.x::after,
.board.x .moves:not(.x):not(.circle):hover::before,
.board.x .moves:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}


  .button {
    display: block;
    
  }
