*{
    box-sizing: border-box;
}

body {
    background-color: cadetblue;


}

#gamescreen {

    display: grid;
    margin: 0;
    padding: 0;

    max-height: fit-content;
    max-width: fit-content;

    background-color: chartreuse;

}

.game-rows {

    display: flex;
    flex-direction: row;
  
}

.game-moves {
    display: flex;
    height: 100px;
    width: 100px;
    background-color:whitesmoke;
    padding: 5px 5px 10px 10 ;
    margin: 5px 5px 10px 10px;
}